.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.heading {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: translateX(-15%);
}

.logo {
    width: 120px;
    height: 120px;
    top: -70px;
    transform: translateX(180%);
    position: relative;
    object-fit: contain;
}

.title-text {
    font-size: 60px;
    font-weight: 700;
    color: black;
    line-height: 1;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
}

::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form button {
    align-self: flex-end;
}

.flex-column>label {
    color: #151717;
    font-weight: 600;
}

.inputForm {
    border: 1.5px solid var(--client-border);
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.2s ease-in-out;
}

.input {
    background-color: transparent !important;
    margin-left: 10px;
    border-radius: 10px;
    border: none !important;
    width: 100%;
    height: 100%;
    flex: 1;
    outline: none !important;
    box-shadow: none !important;
}

.input:focus {
    outline: none;
}

.inputForm:focus-within {
    border: 1.5px solid var(--client-primary);
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.flex-row>div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.flex-row>div>label {
    font-size: 14px;
    color: black;
    font-weight: 400;
    cursor: pointer;
}

.span {
    font-size: 14px;
    margin-left: 5px;
    color: var(--client-primary);
    font-weight: 500;
    cursor: pointer;
}

.button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    height: 55px;
    width: 100%;
    cursor: pointer;
    transition: background 0.2s;
}

.button-submit:hover {
    background-color: #252727;
}

.p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
}

.btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid var(--client-border);
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.btn:hover {
    border: 1px solid var(--primary);
}