.login-container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    min-height: 100vh;
    width: 100%;
}

.login-form-side {
    background: var(--color-bg-surface);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    position: relative;
    box-shadow: 10px 0 30px rgba(0, 0, 0, 0.02);
    z-index: 2;
}

@media (max-width: 900px) {
    .login-container {
        grid-template-columns: 1fr;
    }


}